@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form>
    <p>
        <label>用户名：</label>
        <input type="text" name="Username" />
    </p>
    <p>
        <label>密码：</label>
        <input type="password" name="password" />
    </p>
    <p>
        <label>姓名：</label>
        <input type="text" name="RealName" />
    </p>
    <p>
        <label>职务：</label>
        <input type="text" name="RealName" />
    </p>
    <p>
        <label>Email：</label>
        <input type="text" name="Email" />
    </p>
    <p>
        <label>联系电话：</label>
        <input type="text" name="Phone" />
    </p>
    <p>
        <label>所属机构：</label>
        <select name="DepartmentId"></select>
    </p>
    <p>
        <label>所属权限组：</label>
        <select name="Groups" multiple="multiple"></select>
    </p>
</form>