@{
    ViewBag.Title = "EditPassword";
}

<h2>修改密码</h2>
<form action="?" method="post">
    <p>旧密码：<input type="password" name="oldPassword" /></p>
    <p>新密码：<input type="password" name="newPassword" /></p>
    <p>确认新密码：<input type="password" name="reNewPassword" /></p>
    <p><input type="submit" value="提交" /></p>
</form>
