<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="DBDataContext" connectionString="data source=192.168.1.113:1521/XE;persist security info=True;user id=PASSPORT;password=loowootech;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="DBSchema" value="PASSPORT" />
    <add key="Cache_Host" value="192.168.1.113"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication>
      <forms loginUrl="/account/login" />
    </authentication>
    <customErrors mode="Off" />
    <httpModules>
      <add name="AuthenticateModule" type="LoowooTech.Passport.Web.AuthenticateModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AuthenticateModule" type="LoowooTech.Passport.Web.AuthenticateModule" />
    </modules>
    <httpErrors existingResponse="PassThrough">
    </httpErrors>
  </system.webServer>

</configuration>