@model Exception
@{
    Exception ex = Model;
    while(ex.InnerException!=null){
        ex = ex.InnerException;
    }
    ViewBag.Title = ex.Message;
}

<h2>@ex.Message</h2>
<div>
    @Html.Raw(ex.StackTrace.Replace("\n", "<br />"))
</div>
