<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBDataContext" connectionString="data source=192.168.1.111:1521/XE;persist security info=True;user id=LOOWOOTECH;password=123456;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="DBSchema" value="LOOWOOTECH" />
  </appSettings>
</configuration>