@using LoowooTech.Common
<div id="department-list-toolbar">
    <a href="#add" class="easyui-linkbutton" iconcls="icon-add">添加</a>
    <a href="#edit" class="easyui-linkbutton" iconcls="icon-edit">修改</a>
    <a href="#remove" class="easyui-linkbutton" iconcls="icon-remove">删除</a>
    <a href="#reload" class="easyui-linkbutton" iconcls="icon-reload">刷新</a>
</div>
<table id="department-list" url="/admin/department/getlist" toolbar="#department-list-toolbar" border="false" singleselect="true" rownumbers="true" fit="true">
    <thead>
        <tr>
            <th field="Name" width="500" data-options="editor:{type:'validatebox'}">部门名称</th>
        </tr>
    </thead>
</table>
<script>
    (function () {
        var dg = $("#department-list");

        dg.etreegrid({
            idField: 'ID',
            treeField: 'Name',
            parentIdField: 'ParentID',
            url: '/admin/department/getlist',
            saveUrl: '/admin/department/edit',
            updateUrl: '/admin/department/edit',
            deleteUrl: '/admin/department/delete',
            onRemove: reloadGrid
        });

        function getClientId() {
            return $("#client-select").combobox("getValue");
        }

        function reloadGrid() {
            dg.etreegrid("reload");
        }

        $("#department-list-toolbar a").click(function () {
            var name = $(this).attr("href");
            var selectedRow = dg.datagrid("getSelected") || {};
            switch (name) {
                case "#add":
                    dg.etreegrid("addRow", { ParentID: selectedRow.ID || 0 });
                    return;
                case "#edit":
                    dg.etreegrid("editRow", selectedRow);
                    break;
                case "#remove":
                    dg.etreegrid("removeRow", selectedRow);
                    break;
                case "#reload":
                    reloadGrid();
                    break;
            }
            return false;
        });
    })();
</script>
