<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户管理中心</title>
    @Html.Raw(Page.Static)
</head>
<body class="easyui-layout">
    <div id="main-window" class="easyui-window" closed="true" modal="true" minimizable="false"
        maximizable="false" collapsible="false"></div>
    <div region="north" class="header">
        <div class="logo">Passport <span style="font-size:12px;">Management Center</span></div>
        <div class="topbar">
            <ul>
                <li><a href="/account/logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div region="west" title="功能菜单" class="sidebar">
        @Html.Partial("_navigation")
    </div>
    <div region="center">
        <div id="main-tabs" class="easyui-tabs" fit="true">
            @RenderBody()
        </div>
    </div>
    <script>
        $(function () {
            $("#navigation a").click(function () {
                var title = $(this).html();
                var href = $(this).attr("href");
                var tabs = $("#main-tabs");
                tabs.tabs("close", title).tabs("add", { title: title, href: href, closable: true });
                return false;
            });
        });
        $.openWindow = function (options) {
            var id = options.id || "#main-window";
            $(id).window(options).window("open").window("center").window("refresh", options.url);
        };

        $.closeWindow = function (id) {
            id = id || "#main-window";
            $(id).window("close");
        };
        $(document).ajaxError(function (event, jqxhr, settings, exception) {
            if (jqxhr.responseText) {
                var result = $.parseJSON(jqxhr.responseText);
                $.messager.alert("错误", result.message);
            }
        });
    </script>
</body>
</html>
