<div id="navigation" class="easyui-accordion" data-options="border:false,animate:false,fit:true">
    <div title="用户管理">
        <ul box="用户管理">
            <li>@Html.ActionLink("用户列表", "List", "Account")</li>
            <li>@Html.ActionLink("添加新用户", "Edit", "Account")</li>
        </ul>
    </div>
</div>
