<div id="navigation" data-options="border:false,animate:false,fit:true">
    <ul>
        <li>@(Html.ActionLink("用户管理", "List", "Account"))</li>
        <li>@(Html.ActionLink("站点管理", "List", "Client"))</li>
        <li>@(Html.ActionLink("权限组管理", "List", "Group"))</li>
    </ul>
</div>
